*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Quiz
{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}
.question{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 10px;
    color: #000;
}

.next-btn{
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    margin: 30px 0 0 0;
    cursor: pointer;
    transition:  all .3s ease;
    transition-delay: .3s;
    opacity: 0;
    transform-origin: center;
    transform: translateY(50px) scale(0);
    pointer-events: none;
}

.next-btn.show{
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: all;
}

.next-btn:hover{
    transition-delay: 0s;
}