*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Scoreboard{
    width: 300px;
    padding: 30px;
    background-color: #fff;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
    box-shadow:  0 10px 25px rgba(0, 0, 0, .2);
    border-radius: 15px;
}

.Scoreboard .form{
    display: flex;
    flex-direction: column;
}

.custom-select{
    width: 100%;
    position: relative;
}

.Scoreboard .form select{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-radius: none;
    margin: 10px 0;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    padding: 10px;
    appearance: none;
}

.custom-arrow{
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid #fff;
    pointer-events: none;
}

.Scoreboard button{
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    color: #fff;
    background: #000;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 10px 0;
}

.Scoreboard label{
    margin-top: 10px;
}

.Scoreboard p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.Scoreboard p.score{
    font-weight: 500;
}

.new-game{
    font-size: 14px;
    font-weight: 400;
}