.Answer{
    min-width: 200px;
    max-width: 100%;
    min-height: 40px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s ease;
}

.Answer.correct-answer{
    background-color: rgb(88, 197, 88);
    color: #fff;
}

.Answer.wrong-answer{
    background-color: rgb(224, 61, 61);
    color: #fff;
}